* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	}
body {
	max-width: 45%;
	background-color: black;
	margin: auto;
	padding: auto;
	}
header {
	font-size: 19px;
	background-color: #696969;
	color: white;
	height: 100px;
	margin-top: 40px;
	text-align: left;
	padding: 40px;
}
.wrapper {
	display: inline-block;
	max-width: 1000px;
	margin: 0;
}
.aside1 {
	font-size: 19px;
	background-color: #8FBC8F;
	color: white;
	text-align: center;
	padding: 10px 10px 350px 10px; 
	width: 20%;
	float: left;
}
.p {
	background-color: #6495ED;
	color: black;
	width: 80%;
	text-align: left;
	padding: 20px 20px 20px 160px;
}
.aside2 {
	font-size: 19px;
	background-color:	#FA8072;
	color: white;
	text-align: center;
	padding: 10px 10px 350px 10px;
	width: 20%;
	float: right;
	margin-right: 0px; 
}
footer {
	font-size: 19px;
	background-color: #696969;
	color: white;
	height: 100px;
	margin-bottom: 40px; 
	padding: 40px;
}