@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif,'Kaushan Script', cursive, 'Roboto', sans-serif;
}
.wrapper_mogo {
	width: 100%;
	overflow: hidden;
}s